html
  head
    title='Welcome to Tinne'
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Welcome to Tinne
        p Click the button to start the show
        p
          a.btn.btn-primary(href='google.com') Tinne City
        p 
